<!DOCTYPE html>
<html lang="en" >
<head>
  <title>DevelopmentDashboard - City of Raleigh</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <link href='../node_modules/mapbox-gl/dist/mapbox-gl.css' rel='stylesheet' />
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="../node_modules/angular-material-data-table/dist/md-data-table.min.css"/>
  <link rel="stylesheet" href="assets/app.css"/>
  <script type="text/javascript" src="../node_modules/moment/min/moment.min.js"></script>
  <script src="../node_modules/mapbox-gl/dist/mapbox-gl.js"></script>
  <script src="vendor/turf.min.js"></script>

  <style type="text/css">

  /**
  * Hide when Angular is not yet loaded and initialized
  */
  [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
  }
  </style>
</head>
<body ng-app="starterApp" layout="column" ng-controller="DevelopmentController as vm" ng-cloak>
  <md-toolbar layout="row" ng-class="{'phone': vm.xs}">
    <div class="md-toolbar-tools">
      <md-button class="menu" hide-gt-sm ng-click="vm.toggleList()" aria-label="Show User List">
        <md-icon md-svg-icon="search" ></md-icon>
      </md-button>
      <h2>DevelopmentDashboard</h2>
      <md-button class="map-toggle" hide-gt-xs ng-click="vm.toggleTable()" aria-label="Show Table">
        <md-icon md-svg-icon="{{(vm.showTable) ? 'map' : 'view_list'}}"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <div flex layout="row">
    <md-sidenav  md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2" >
    <md-toolbar layout="row" ng-class="{'phone': vm.xs}">
      <div class="md-toolbar-tools">
        <h2>Search</h2>
      </div>
    </md-toolbar>    
    <div class="content">
      <h3>Search for</h3>
      <md-input-container>
        <label>Search Type</label>
        <md-select ng-model="vm.selectedSearch" ng-change="vm.devplans = []; vm.searchTypeChanged()" ng-disabled="vm.searching">
          <md-option ng-value="search" ng-repeat="(index, search) in vm.searches"  ng-selected="index === 0" >{{search.name}}</md-option>
        </md-select>
      </md-input-container>
      <md-input-container>
        <label>Status</label>
        <md-select ng-model="vm.selectedStatus" ng-change="vm.search()" ng-disabled="vm.searching" multiple>
          <md-option ng-value="status" ng-repeat="(index, status) in vm.selectedSearch.statuses">{{status}}</md-option>
        </md-select>
      </md-input-container>      
      <h3>Between</h3>
      <md-datepicker ng-model="vm.fromDate" md-placeholder="Enter date" ng-change="vm.search()" ng-disabled="vm.searching"></md-datepicker>
      <h3>and</h3>
      <md-datepicker ng-model="vm.toDate" md-placeholder="Enter date" ng-change="vm.search()" ng-disabled="vm.searching"></md-datepicker>
      <h3>Within</h3>
      <md-input-container>
        <label>Search Type</label>
        <md-select ng-model="vm.selectedDistance" ng-change="vm.distanceChanged(vm.selectedDistance.value)" ng-disabled="vm.searching">
          <md-option ng-value="distance" ng-repeat="(index, distance) in vm.distances" ng-selected="vm.selectedSearch.defaultDistance">{{distance.name}}</md-option>
        </md-select>
      </md-input-container>
      <h3>of</h3>
      <md-autocomplete
      ng-disabled="false"
      md-no-cache="false"
      md-selected-item="vm.selectedAddress"
      md-search-text-change="vm.addressTextChange(vm.addressText)"
      md-search-text="vm.addressText"
      md-selected-item-change="vm.selectedItemChange(address)"
      md-items="address in vm.addressSearch(vm.addressText)"
      md-item-text="address.attributes.ADDRESS"
      md-min-length="4"
      md-autoselect="true"
      placeholder="Enter your address" ng-disabled="vm.searching">
      <span md-highlight-text="searchText">{{address.attributes.ADDRESS}}</span>
    </md-autocomplete>
    <md-button class="md-raised md-primary" ng-click="vm.search()" ng-disabled="vm.searching">Search</md-button>
    </div>
  </md-sidenav>
  <md-content flex id="content">
    <div id="map" ng-style="{'height': (vm.showTable) ? '50%' : '100%'}" ng-hide="vm.showTable && vm.xs">
      <md-button class="md-raised map-button" ng-click="vm.toggleImagery()">{{vm.showImage ? 'Street' : 'Imagery'}}</md-button>    
      <md-fab-toolbar md-open="demo.isOpen" count="demo.count"
                      md-direction="left">
        <md-fab-trigger class="align-with-text">
          <md-button aria-label="menu" class="md-fab">
            <md-icon md-svg-src="menu"></md-icon>
          </md-button>
        </md-fab-trigger>
        <md-toolbar>
          <md-fab-actions class="md-toolbar-tools">
            <md-button ng-click="vm.toggleDataDisplay()">{{vm.cluster ? 'Heat Map' : 'Cluster'}}</md-button>
            <md-button ng-click="vm.showKey($event)">KEY</md-button>
            <md-button hide-xs ng-click="vm.toggleTable()">{{(vm.showTable) ? 'Hide Table' : 'Show Table'}}</md-button>
          </md-fab-actions>
        </md-toolbar>
      </md-fab-toolbar> 
    </div>
    <div class="table-div" ng-show="vm.showTable" ng-class="{'phone': vm.xs}">
      <md-button id="filterButton" ng-click="vm.toggleFilter()" class="md-icon-button" >
        <md-icon md-svg-icon="filter"></md-icon>
      </md-button>  
      <input id="filterInput" ng-show="vm.showFilter" ng-model="vm.filterValue" placeholder="Search">    
<!--       <md-input-container ng-show="vm.showFilter" style="background-color: white;z-index:1; position: absolute">
        <label>Filter</label>
        <input ng-model="vm.filterValue">
      </md-input-container>    -->  
      <md-table-container ng-class="{'phone': vm.xs}">
        <table data-md-table data-md-row-select="true" multiple="false" data-ng-model="selectedRows" md-progress="vm.promise" >
          <thead md-head md-order="vm.selectedSearch.order">
            <tr md-row>
              <th ng-repeat="column in vm.selectedSearch.columns" md-column md-order-by="{{column.order}}"><span>{{column.display}}</span></th>
            </tr>
          </thead>
          <tbody md-body>
            <tr md-row md-select="devplan" md-auto-select ng-repeat="devplan in vm.devplans | filter: vm.filterValue | orderBy: vm.selectedSearch.order | limitTo: vm.query.limit : (vm.query.page - 1) * vm.query.limit" data-md-on-select="vm.rowSelected">
              <td md-cell ng-if="vm.selectedSearch.name === 'Development Plans'">{{devplan.plan_number}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Development Plans'">{{devplan.plan_name}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Development Plans'">{{devplan.plan_type}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Development Plans'">{{devplan.submitted | date: 'fullDate'}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Development Plans'">{{devplan.approved | date: 'fullDate'}}</td>              
              <td md-cell ng-if="vm.selectedSearch.name === 'Development Plans'">{{devplan.status}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Development Plans'">{{devplan.zoning}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Development Plans'">{{devplan.cac}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Development Plans'"><md-button data-num="{{devplan.plan_number}}" ng-show="devplan.planurl.url" class="md-primary" ng-href="{{devplan.planurl.url}}" target="_blank" ng-click="vm.linkClicked($event)">View</md-button></td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Permits'">{{devplan.permitnum}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Permits'">{{devplan.proposedworkdescription}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Permits'">{{devplan.workclass}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Permits'">{{devplan.originaladdress1}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Permits'">{{devplan.statuscurrentmapped}}</td> 
              <td md-cell ng-if="vm.selectedSearch.name === 'Permits'">{{devplan.applieddate | date: 'fullDate'}}</td>                         
              <td md-cell ng-if="vm.selectedSearch.name === 'Permits'">{{devplan.issueddate | date: 'fullDate'}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Permits'">{{devplan.parcelownername}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Permits'">{{devplan.contractorcompanyname}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Permits'">{{devplan.totalsqft | number}}</td>
              <td md-cell ng-if="vm.selectedSearch.name === 'Permits'">{{devplan.estprojectcost | currency}}</td>
            </tr>
          </tbody>
        </table>
      </md-table-container>
      <data-md-table-pagination md-limit="vm.query.limit" md-limit-options="[5, 10, 25, 50]" md-page="vm.query.page" md-total="{{vm.devplans.length}}" md-page-select="true" md-boundary-links="false">
      </data-md-table-pagination>      
    </div>
  </md-content>
  <md-progress-circular ng-show="vm.searching" md-diameter="150"></md-progress-circular>
</div>
<script src="../node_modules/angular/angular.js"></script>
<script src="../node_modules/angular-animate/angular-animate.js"></script>
<script src="../node_modules/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
<script type="text/javascript" src="../node_modules/angular-material-data-table/dist/md-data-table.min.js"></script>
<script src="./src/Development.js"></script>
<script src="./src/DevelopmentController.js"></script>
<script src="./src/Soda.js"></script>
<script src="./src/SodaService.js"></script>
<script type="text/javascript">
angular
.module('starterApp', ['ngMaterial', 'development', 'md.data.table', 'soda'])
.config(function($mdThemingProvider, $mdIconProvider){
  $mdIconProvider
  .defaultIconSet("./assets/svg/avatars.svg", 128)
  .icon("menu", "./assets/svg/menu.svg", 24)
  .icon("share", "./assets/svg/share.svg", 24)
  .icon("view_list", "./assets/svg/view_list.svg", 24)
  .icon("map", "./assets/svg/ic_map_white_24px.svg", 24)
  .icon("place", "./assets/svg/place.svg", 24)
  .icon("key", "./assets/svg/ic_vpn_key_white_24px.svg", 24)
  .icon("hot", "./assets/svg/ic_whatshot_white_24px.svg", 24)
  .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
  .icon("hangouts", "./assets/svg/hangouts.svg", 512)
  .icon("twitter", "./assets/svg/twitter.svg", 512)
  .icon("phone", "./assets/svg/phone.svg", 512)
  .icon("grouphousing", "./assets/svg/grouphousing.svg", 60)
  .icon("infill", "./assets/svg/infill.svg", 60)
  .icon("masterplan", "./assets/svg/masterplan.svg", 60)
  .icon("minorsubdivision", "./assets/svg/minorsubdivision.svg", 60)
  .icon("planapproval", "./assets/svg/planapproval.svg", 60)
  .icon("shoppingcenter", "./assets/svg/shoppingcenter.svg", 60)
  .icon("siteplan", "./assets/svg/siteplan.svg", 60)
  .icon("sitereview", "./assets/svg/sitereview.svg", 60)
  .icon("specialuse", "./assets/svg/specialuse.svg", 60)
  .icon("subdivision", "./assets/svg/subdivision.svg", 60)
  .icon("filter", "./assets/svg/ic_filter_list_white_24px.svg", 24)
  .icon("search", "./assets/svg/ic_search_white_24px.svg", 24);  
  $mdThemingProvider.theme('default')
  .primaryPalette('blue')
  .accentPalette('red');
});
</script>
</body>
</html>
