<md-dialog aria-label="Marker Key"  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Marker Key</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-grid-tile ng-repeat="tile in vm.tiles"
                      md-rowspan="1"
                      md-colspan="1"
                      md-colspan-sm="1"
                      md-colspan-xs="1"
                      ng-class="tile.background" >
          <img src="assets/svg/sitereview" alt="Kiwi standing on oval">
          <md-grid-tile-footer><h3>{{tile.title}}</h3></md-grid-tile-footer>
        </md-grid-tile>      
      </div>
  </form>
</md-dialog>