html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}

/* Toolbar area */
.md-fab-toolbar {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

.table-button.with-map {
    position: absolute;
    bottom: 2em;
    right: 1em;
    opacity: 0.8;
}
.key-button.with-map {
    position: absolute;
    bottom: 7em;
    right: 1em;
    opacity: 0.8;
}
.heat-button.with-map {
    position: absolute;
    bottom: 12em;
    right: 1em;
    opacity: 0.8;
}
.table-button {
    position: absolute;
    bottom: 2em;
    right: 1em;
    opacity: 0.8;
}
.table-button.with-table {
    position: absolute;
    bottom: 25em;
    right: 1em;
    opacity: 0.8;
}
.key-button.with-table {
    position: absolute;
    bottom: 28em;
    right: 1em;
    opacity: 0.8;
}
.heat-button.with-table {
    position: absolute;
    bottom: 34em;
    right: 1em;
    opacity: 0.8;
}


md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

md-toolbar button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Sidenav area */

md-list-item > button {
  width:100%;
  text-align:left !important;
}

  md-list .md-button.selected {
    color: #03a9f4;
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }


/* Primary content area */
md-datepicker {
  overflow: initial;
}


#content  {
  padding: 0;
  overflow: hidden !important;
}

#content .md-button.share {
  background-color: transparent;
  border: none;
  width: 48px;
  height: 48px;
  margin: 8px auto 16px 0;
  position: absolute;
  top: 10px;
  right: 25px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

#content .md-button.share > md-icon {
  fill:black;
  width:36px;
  height:36px;
}

md-button.menuBtn > md-icon {
  fill:white;
  width:24px;
  height:24px;
}

#content .md-button.share:active > md-icon {
  background-color: #dadada;
  border-radius: 75%;
  padding:4px;
  transition: all 100ms ease-out 30ms;
}

#content img {
  display: block;
  height: auto;
  max-width: 500px;
}

/* Utils */

.content-wrapper {
  position: relative;
}

/* Typography support coming in 0.8.0 */


md-toolbar.phone h2 {
  font-size: 0.9em;
  line-height: 3em;
  font-weight: 400;
}
md-toolbar.phone .md-button {
  min-width: 0;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.table-div {
  position: absolute;
  width: 100%;
  top: 50%;
  bottom: 0;
}

.table-div.phone {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

md-table-container {
    overflow: auto;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 57px;
    right: 0;
    top: 0;
}

/* only cells with the fixed-width class will have a max width */
.md-column {
min-width: 90px;
max-width: 90px;
}

.md-cell {
min-width: 90px;
max-width: 90px;
word-break: break-word;
}

md-table-container.phone {
    bottom: 113px;
}
#map {
    width: 100%;
    height: 100%;
    position: absolute;
}

.mapboxgl-canvas {
  outline: none;
}
.mapboxgl-popup-content {
  font-family: 'Roboto', sans-serif;
/*  background-color: rgba(20,20,20,0.9);
  color: white; */
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
/*  color: rgba(20,20,20,0.9);*/

}
md-sidenav {
  padding: 0;
}

md-sidenav md-toolbar {
  padding-left: 1em;
}
md-sidenav .content {
  padding: 1em;
}

md-sidenav .md-button {
  margin: 1em 0;
}

md-input-container {
  width: 100%;
}

figcaption {
  width: 100%;
}

figcaption h3 {
  margin: 0 !important;
}

.md-raised {
  width: 100%;
}

md-dialog {
  min-width: 600px;
}

.key-icon {
  height: 60px;
  width: 60px;
}
.key-icon svg {
  height: 60px;
  width: 60px;
}

md-grid-tile-footer {
  background: rgba(0,0,0,0.4) !important;
  text-align: center;
}

data-md-table-pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#filterButton {

  top: 5px;
  display: inline-flex !important;
  z-index: 1;
  background: white;
}

#filterButton svg{
  fill: #777;
}


.table-div table
{
  width: auto;
  border-collapse: collapse;
}

.table-div thead
{
  display: block;
  overflow: auto;
}

.table-div tbody
{
  display: block;
  position: absolute;
  top: 57px;
  bottom:0;
  overflow-x: hidden;
  overflow-y: auto;
}

.map-toggle {
  position: absolute;
  right: 16px;
  top: 0;
  left: auto;
}

#filterInput {
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: none;
    background: white;
    width: 95%;
    padding: 0 15px;
    line-height: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 50px;
    z-index: 1;
}
md-progress-circular {
  position: absolute;
  top: 50%;
  left: 50%;
}

.map-button {
  min-width: 1%;
  line-height: 30px;
  min-height: 30px;
  height: 30px;
  position: absolute;
  z-index: 20;
  top: 4px;
  left: 40px;
  width: 100px;
}

.logo {
  margin: 0 1em 0 0;
  height: 40px;
  width: 40px;
}
